<div class="centered">
<div ng-repeat="nums in createUnits()">
  <label class="item item-input">
    <span class="input-label">Unit {{nums+1}}</span>
    <input type="number" placeholder="enter estimated montly rent">
  </label>
</div>
<button class="button button-assertive unitBtn">Next</button>
</div>
