.newbtn {
  position: fixed;
  height: 50px;
  width: 50%;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25%;
}

.scroll{
  height: 100%;
}

.unitBtn {
  margin-left: 25%;
  width: 50%;
  margin-top: 10%;
  margin-bottom: 5%;
}

.centered {
  margin: 5%;
}
